#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
    margin-top: 16px;
}

label {
    margin: 16px 12px 16px 24px;
}

table {
    display: inline-block;
    margin-top: 24px;
    border-collapse: collapse;
}

tr, td {
    min-width: 100px;
    padding: 4px 8px;
}

tr {
    border: none;
}

tr:hover {
    background-color: teal;
    color: white;
}

td, th {
    border-right: solid 1px gray; 
    border-left: solid 1px gray;
}

tr:last-child {
    font-weight: bold;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}
