#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
    border-collapse: collapse;
}

tr, td {
    padding: 4px 8px;
}

tr {
    border: none;
}

tr:hover {
    background-color: teal;
    color: white;
}

td, th {
    border-right: solid 1px gray; 
    border-left: solid 1px gray;
}

tr:last-child {
    font-weight: bold;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}
